In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#Model 1 
data = pd.read_csv(r"virufy-cdf-coswara-v2-predicted.csv", 
                   index_col = 0, 
                   header = 0)

In [3]:
# Extracting the required columns
models = data[['country', 'source','age','pcr_test_result','pcr_test_result_predicted_ahmed']]
models.rename(columns = {'pcr_test_result_predicted_ahmed':'Ahmed_model'}, inplace = True)
# Extracting the top 4 countries
models = models.loc[models['country'].isin(models['country'].value_counts()[:4].index.tolist())]

C:\Users\65914\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [4]:
models = models.loc[(models['pcr_test_result'] == 'negative') | (models['pcr_test_result'] == 'positive')]
models = models.dropna()

In [5]:
models['pcr_test_result'] = models.pcr_test_result.replace({'negative':0, 'positive':1})

# Converting anything > 0.5 as positive otherwise negative
models['Ahmed_model'] = np.where(models['Ahmed_model'] > 0.5, 1, 0)

In [6]:
#Creating model 2 data
np.random.seed(0)

models['model_2'] = np.array(random.choices([0,1], k=len(models))).reshape(len(models),1)
models['model_3'] = np.array(random.choices([0,1], k=len(models))).reshape(len(models),1)
models['model_4'] = np.array(random.choices([0,1], k=len(models))).reshape(len(models),1)
models['model_5'] = np.array(random.choices([0,1], k=len(models))).reshape(len(models),1)
models['model_6'] = np.array(random.choices([0,1], k=len(models))).reshape(len(models),1)

In [7]:
models.head()

,country,source,age,pcr_test_result,Ahmed_model,model_2,model_3,model_4,model_5,model_6
0,India,coswara,22,0,1,0,1,0,0,0
1,India,coswara,22,0,1,1,0,1,1,0
2,India,coswara,44,0,0,1,0,0,0,0
3,India,coswara,44,0,1,1,0,1,0,1
4,India,coswara,25,0,1,1,0,0,1,1

In [8]:
models.to_csv('results.csv')