In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
#Model 1 
data = pd.read_csv(r"virufy-cdf-coswara-v2-preds.csv", 
                   index_col = 0, 
                   header = 0)

In [3]:
# Data processing 
model_1 = data[['country','age','pcr_test_result','pcr_test_result_pred']]
model_1 = model_1.loc[model_1['country'].isin(model_1['country'].value_counts()[:4].index.tolist())]

In [4]:
model_1 = model_1.loc[(model_1['pcr_test_result'] == 'negative') | (model_1['pcr_test_result'] == 'positive')]
model_1 = model_1.dropna()

In [5]:
model_1['pcr_test_result'] = model_1.pcr_test_result.replace({'negative':0, 'positive':1})
model_1['pcr_test_result_pred'] = model_1.pcr_test_result_pred.replace({'negative':0, 'positive':1})

In [16]:
#Creating model 2 data
np.random.seed(0)
model_2_len = np.random.randint(len(model_1) - 100, len(model_1) + 500, 1)[0]

model_2_country = np.array(random.choices(model_1['country'].unique().tolist(), k=model_2_len)).reshape(model_2_len,1)
model_2_age = np.array(random.choices(range(18,80), k=model_2_len)).reshape(model_2_len,1)
model_2_result = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_2_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_3_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_4_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_5_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)
model_6_pred = np.array(random.choices([0,1], k=model_2_len)).reshape(model_2_len,1)

In [17]:
model_2 = pd.DataFrame(data = None,
                      index = range(0,model_2_len),
                      columns = model_1.columns)

In [18]:
model_2['country'] = model_2_country
model_2['age'] = model_2_age
model_2['pcr_test_result'] = model_2_result
model_2['Model_1'] = model_2_pred
model_2['Model_2'] = model_3_pred
model_2['Model_3'] = model_4_pred
model_2['Model_4'] = model_5_pred
model_2['Model_5'] = model_6_pred

In [19]:
model_1 = model_1.sort_values(by=['country'])
model_2 = model_2.sort_values(by=['country'])

In [20]:
model_1.head()

    country  age  pcr_test_result  pcr_test_result_pred
305  Canada   31                0                     0
346  Canada   27                0                     0
345  Canada   27                0                     1
306  Canada   31                0                     0
336  Canada   22                0                     0

In [24]:
model_2.head()

,country,age,pcr_test_result,pcr_test_result_pred,Model_1,Model_2,Model_3,Model_4,Model_5
932,Canada,49,1,NaN,1,0,1,0,0
1174,Canada,37,0,NaN,1,1,0,1,0
438,Canada,75,0,NaN,0,1,1,0,0
1188,Canada,24,1,NaN,1,0,1,1,1
432,Canada,42,1,NaN,1,1,0,0,1

In [22]:
model_1.country.unique()

array(['Canada', 'France', 'India', 'United States'], dtype=object)

In [23]:
model_2.to_csv('results.csv')